<p style="color: green"><%= notice %></p>

<%= form_with(url: search_products_path, method: :get, local: true, id: 'search-form') do %>
  <%= label_tag :search, "Search for product by name:" %>
  <%= text_field_tag :search, params[:search], id: 'search-input' %>
<% end %>

<p>Ваш вес составляет <%= current_user.weight %> кг</p>
<p>У вас <%= @mobility_options[current_user.mobility - 1] %></p>
<p>Ваша цель: <%= current_user.goal %></p>
<ul>Количество килокалорий на день составляет <%= @calories_for_user %> Ккал или
  <li id="daily_proteins"><%= @proteins %> г белков</li>
  <li id="daily_fats"><%= @fats %> г жиров</li>
  <li id="daily_carbohydrates"><%= @carbohydrates %> г углеводов</li>
</ul>
<div>
  <h2>Выбранные продукты</h2>

  <div id="selected_products_list">
    <p id="total_protein">Общие белки: 0</p>
    <p id="total_fat">Общие жири: 0</p>
    <p id="total_carbohydrates">Общие углеводы: 0</p>
  </div>
</div>
<div id="products">
  <h1>Products</h1>
  <div id="products-list">
    <%= render 'products_list', products: @products %>
    <%= javascript_include_tag "products" %>
  </div>
</div>

<script>
  var dailyProteins = <%= @proteins %>;
  var dailyFats = <%= @fats %>;
  var dailyCarbohydrates = <%= @carbohydrates %>;
</script>
